@font-face {
    font-family: "Minecraft";
    src: url('fonts/Minecraft.eot');
    src: url('fonts/Minecraft.eot') format('embedded-opentype'),
    url('fonts/Minecraft.woff2') format('woff2'),
    url('fonts/Minecraft.woff') format('woff'),
    url('fonts/Minecraft.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    color: #000000;
    font-family: "Minecraft", "PT Sans", Calibri, Tahoma, sans-serif;
}

html {
    background: url('images/UI/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000000;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blur-container{
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    position:fixed;
    z-index: 2;
    visibility: hidden;
    display: table;
}

.blur{
    visibility: visible;
    height: 100%;
    animation:0.5s ease-out blur forwards;
}

@keyframes blur {
    0%{
        backdrop-filter: brightness(100%);
    }
    100%{
        backdrop-filter: brightness(25%);
    }
}

.title-container {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
    width: 400px;
    margin-bottom: 0px;
}

.heart-container {
    display:flex;
    flex-direction: row;
    padding-bottom: 4vh;
}

.heart {
    image-rendering: pixelated;
    padding:2px;
}

.input-container {
    display:flex;
    flex-direction: column;
    position:relative;
}

.input {
    image-rendering: pixelated;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #000000;
    outline: 4px solid #ffffff;
    border-radius: 2px;
}

.input img{
    filter:brightness(100);
}

#guess-field{
    flex-grow: 2;
    border: none;
    outline:none;
    color:#ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 40px;
    background:inherit;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

button:hover {
    transform: scale(1.25);
}

button:active {
    transform:scale(1);
}

.list {
    outline: 5px solid black;
    position:absolute;
    top:52%;
    width: 100%;
    z-index: 1;
    border-radius: 2px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
    list-style: none;
    display:flex;
    flex-direction: column;
    place-content: left;
    background-color: #000000;
  }
.list:empty {
    outline:none;
}
.list-container {
    z-index: 1;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    image-rendering: pixelated;
    padding-left: 10px;
}
.list-items {
    width:100%;
    flex-shrink: 5;
    color: #ffffff;
    padding: 20px 15px;
  }
.image-items {
    flex-shrink: 0;
}
.list-container:hover{
    background-color: #757575;
  }
.list-container:hover img {
    filter: drop-shadow(2px 0 0 white)
    drop-shadow(0 2px 0 white)
    drop-shadow(-2px 0 0 white)
    drop-shadow(0 -2px 0 white);
}
.hl {
    background-color: #757575;
}

.hl img{
    filter: drop-shadow(2px 0 0 white)
    drop-shadow(0 2px 0 white)
    drop-shadow(-2px 0 0 white)
    drop-shadow(0 -2px 0 white);
}

.tile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

.header-container{
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.header-tile{
    word-wrap: break-all;
    width: 80px;
    height: 60px;
    box-sizing:content-box;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 5px 9px;
    font-size: 1.2vw;
    border-bottom: solid 4px #ffffff;
}

.tooltip{
    position: absolute;
    right:-20px;
    display: inline-block;
    color:#ffffff;
    border-bottom: dotted 2px #ffffff;
    font-size: 1.2vw;
    margin: 5px;
    text-align: center;
}

.tooltiptext{
    width: 200px;
    position: absolute;
    visibility: hidden;
    background-color: #000000;
    text-align: left;
    color:#ffffff;
    font-size: 1.2vw;
    border-radius: 4px;
    padding: 10px;
    outline: 4px solid #ffffff;
    margin-left: 10px;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}

.fade{
    visibility:visible;
    animation: 0.5s linear fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.tile{
    visibility: hidden;
    image-rendering: pixelated;
    word-wrap: break-all;
    width: 80px;
    height: 80px;
    box-sizing:content-box;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 5px;
    border-radius: 4px;
}

.flip{
    visibility: visible !important;
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.correct{
    background-color: #14b52c;
    border:solid 4px #14b52c;  
}

.close{
    background-color: #fbe700;
    border: solid 4px #fbe700;
}

.incorrect{
    background-color: #3a3a3c;
    border: solid 4px #3a3a3c;
}

.up{
    image-rendering: pixelated;
    background-image: url('images/UI/up_arrow.png');
    background-size: contain;
}

.down{
    image-rendering: pixelated;
    background-image: url('images/UI/down_arrow.png');
    background-size: contain;
}

.tile img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    
    filter: drop-shadow(2px 0 0 white)
    drop-shadow(0 2px 0 white)
    drop-shadow(-2px 0 0 white)
    drop-shadow(0 -2px 0 white);
}

.big {
    font-size: 1.8vw;
}

.small {
    font-size: 0.9vw;
}

.message-container{
    position:fixed;
    z-index: 3;
    width:384px;
    height:494px;
    top: 100%;
    overflow: hidden;
    image-rendering: pixelated;
}

.slideIn{
    animation: 0.5s ease-out slideIn forwards;
}

@keyframes slideIn{
    0%{
        transform: translateY(0px);
        opacity: 0;
    }
    100%{
        transform:translateY(-80vh);
        opacity: 1;
    }
}

.restart-button{
    position:absolute;
    width: 30px;
    height: 28px;
    left:90px;
    bottom:100px;
    padding: 0;
}

.copy-button{
    position:absolute;
    width: 30px;
    height:28px;
    left:90px;
    bottom:68px;
    padding: 0;
}